body {
  padding: 10px 50px;
 background: rgb(225,210,165);
background: linear-gradient(0deg, rgba(225,210,165,1) 0%, rgba(99,52,6,1) 100%);
}

h1 {
  text-align: center;
  color: #3f3f3f;
  font-size: 3rem;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.button {
  background-color: #FF9138; /* Green */
 border-radius: 12px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  margin-right: 15px;
  font-size: 16px;
  font-family: "Comic Sans MS", 
    sans-serif;font-size: 15px; 
}